@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/urbanist/Urbanist-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/urbanist/Urbanist-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/urbanist/Urbanist-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/urbanist/Urbanist-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/urbanist/Urbanist-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/urbanist/Urbanist-ExtraBold.ttf');
    font-weight: 800;
}