/************************
********* Reset *********
************************/

@import url("reset.css");

/************************
********* Fonts *********
************************/

@import url("fonts.css");

/****************************
********* Variables *********
****************************/

:root {
    --color-white: #FFFFFF;
    --color-background: #F4F5FB;
    --btn-linear-gradient: linear-gradient(92deg, rgba(57, 147, 237), rgba(55, 82, 183) 97%);
}

/******************************
************ D.R.Y ************
******************************/

.background-gradient {
    background: var(--btn-linear-gradient);
}

/*****************************
************ Body ************
*****************************/

body {
    background-color: var(--color-background);
    font-family: 'Urbanist', sans-serif;
    margin: auto;
    max-width: 1440px;
}

/* Header */

header {
    line-height: 111px;
    margin: 0 112px 48px;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul li a {
    font-size: 48px;
    font-weight: bold;
    color: #303437;
}

header nav ul li button {
    font-weight: 600;
    width: 174px;
    height: 50px;
    border-radius: 24px;
    color: var(--color-white);
    font-family: 'Urbanist', sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: padding 400ms;
}

header nav ul li button:hover {
    padding-right: 2em;
}

header nav ul li button::after {
    content: "";
    display: block;
    background: url("../images/icons/arrow-right-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    opacity: 0;
    position: absolute;
    transform: translateX(26px);
    transition: all 400ms;
}

header nav ul li button:hover::after {
    opacity: 1;
    transform: translateX(55px);
}

/* Introduction */

.section-1 {
    height: 790px;
    position: relative;
    margin: 0 112px 128px;
}

.bg-linear-gradient {
    position: relative;
    height: 100%;
}

.bg-linear-gradient::before {
    content: "";
    display: block;
    background: rgb(0 0 0 / 20%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 64px;
}

.bg-linear-gradient img {
    width: 100%;
    height: 100%;
    border-radius: 64px;
    object-fit: cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.bg-linear-gradient::after {
    content: "";
    display: block;
    background: linear-gradient(165.18deg, rgba(22, 191, 253, 0.25) 6.08%, rgba(203, 48, 102, 0.25) 94.78%);
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 64px;
}

.section-1 article {
    position: absolute;
    top: 70px;
    left: 104px;
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.section-1 article h1 {
    font-size: 96px;
    font-weight: 700;
    color: var(--color-white);
    width: 6em;
}

.btn-download {
    display: flex;
    gap: 45px;
}

.btn-download a {
    background: var(--btn-linear-gradient);
    color: var(--color-white);
    border-radius: 24px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn-download a img {
    width: 24px;
    height: 24px;
}

.btn-download a:nth-child(1) img {
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(166deg) brightness(118%) contrast(100%);
}

.stats-users {
    display: flex;
    gap: 33px;
}

.stats-users span {
    display: flex;
    gap: 8px;
    color: var(--color-white);
}

.stats-users span strong {
    font-size: 36px;
    font-weight: 800;
}

.stats-users span p {
    font-weight: 300;
    width: 38%;
    text-align: center;
}

/* How to works */

.section-2 {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 112px 128px;
}

.section-2 h2 {
    font-size: 64px;
    font-weight: 700;
    color: #303437;
    text-align: center;
}

.section-2 ul {
    display: flex;
    gap: 32px;
}

.section-2 ul li {
    background-color: var(--color-white);
    border: 1px solid #E3E5E6;
    border-radius: 24px;
    width: 100%;
    height: 163px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.section-2 ul li:nth-child(1) {
    background: var(--btn-linear-gradient);
}

.section-2 ul li img {
    width: 24px;
    height: 24px;
    background-color: #303437;
    border-radius: 8px;
    padding: 16px;
}

.section-2 ul li:nth-child(1) img {
    background-color: var(--color-white);
}

.section-2 ul li p {
    font-size: 24px;
    font-weight: 700;
    color: #303437;
    text-align: center;
}

.section-2 ul li:nth-child(1) p {
    color: var(--color-white);
}

/* Get Profit. Get results */

.section-3 {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 112px 128px;
}

.section-3 h2 {
    font-size: 64px;
    font-weight: 700;
    color: #303437;
    text-align: center;
}

.section-3 article {
    display: flex;
    gap: 32px;
}

.section-3 article figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-3 article figure img {
    width: 100%;
}

.section-3 article figure figcaption {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-3 article figure figcaption h3 {
    font-size: 24px;
}

/* Section 4 */

.section-4 {
    display: flex;
    justify-content: space-between;
    margin: 0 167px 177px 102px;
}

.section-4 article {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 56px;
    margin-top: 70px;
}

.section-4 article span {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section-4 article span h3 {
    font-size: 48px;
    color: #303437;
}

.section-4 article span p {
    width: 56%;
    text-align: justify;
}

.section-4 button {
    font-family: 'Urbanist', sans-serif;
    background: var(--btn-linear-gradient);
    color: var(--color-white);
    border-radius: 24px;
    font-weight: 700;
    width: 176px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: padding 400ms;
}

.section-4 button:hover {
    padding-right: 2em;
}

.section-4 button::after {
    content: "";
    display: block;
    background: url("../images/icons/arrow-right-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    opacity: 0;
    position: absolute;
    transform: translateX(26px);
    transition: all 400ms;
}

.section-4 button:hover::after {
    opacity: 1;
    transform: translateX(55px);
}

.section-4 aside img {
    height: 778px;
}

/* Section 5 */

.section-5 {
    background-color: var(--color-white);
    border-radius: 64px;
    padding: 56px 156px;
    margin: 0 112px 104px;
}

.section-5 h2 {
    font-size: 64px;
    font-weight: 700;
    color: #303437;
    text-align: center;
    margin-bottom: 6px;
}

.section-5 p {
    font-size: 20px;
    font-weight: 600;
    color: #303437;
    text-align: center;
    margin-bottom: 56px;
}

.section-5 article {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 32px;
    margin-bottom: 46px;
}

.section-5 article figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-5 article figure img {
    width: 100%;
    height: 185px;
    object-fit: cover;
    border-radius: 24px;
}

.section-5 article figure figcaption {
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-white);
}

.section-5 button {
    font-family: 'Urbanist', sans-serif;
    background: var(--btn-linear-gradient);
    color: var(--color-white);
    border-radius: 24px;
    font-weight: 700;
    width: 281px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: padding 400ms;
    margin: auto;
}

.section-5 button:hover {
    padding-right: 2.5em;
}

.section-5 button::after {
    content: "";
    display: block;
    background: url("../images/icons/arrow-right-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    opacity: 0;
    position: absolute;
    transform: translateX(46px);
    transition: all 400ms;
}

.section-5 button:hover::after {
    opacity: 1;
    transform: translateX(75px);
}

/* Section 6 */

.section-6 {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 169px 128px 116px;
}

.section-6 h2 {
    font-size: 64px;
    font-weight: 700;
    color: #303437;
    text-align: center;
}

.section-6 article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-6 article img {
    height: 708px;
}

.section-6 article ol {
    width: 431px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-6 article ol li {
    height: 72px;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.section-6 article ol li::before {
    content: '1';
    min-width: 72px;
    height: 72px;
    background-color: #303437;
    border-radius: 16px;
    font-size: 40px;
    font-weight: 700;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-6 article ol li:nth-child(2)::before {
    content: '2';
}

.section-6 article ol li:nth-child(3)::before {
    content: '3';
}

.section-6 article ol li:nth-child(4)::before {
    content: '4';
}

.section-6 article ol li:nth-child(5)::before {
    content: '5';
}

/* Section 7 */

.section-7 {
    height: 709px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 112px;
    margin-bottom: 128px;
    position: relative;
}

.section-7::before {
    content: '';
    display: block;
    width: 704px;
    height: 554px;
    background-color: #E7E7FF;
    border-radius: 200px 0px 0px 200px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
}

.section-7::after {
    content: '';
    display: block;
    width: 518px;
    height: 706px;
    background: url('../images/women-with-phone.png');
    position: absolute;
    right: 114px;
    bottom: 0;
    z-index: -1;
}

.section-7 h2 {
    width: 45%;
    font-size: 64px;
    font-weight: 700;
    color: #303437;
    margin-bottom: 24px;
}

.section-7 span {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 56px;
}

.section-7 span ul {
    display: flex;
    height: 32px;
}

.section-7 span p {
    font-size: 24px;
    font-weight: 700;
    background: var(--btn-linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.section-7 article {
    height: 248px;
    display: flex;
    align-items: baseline;
    gap: 40px;
}

.card-review {
    width: 287px;
    padding: 32px;
    background-color: var(--color-white);
    border: 1px solid #F2F4F5;
    box-shadow: 0px 0px 8px rgba(20, 20, 20, 0.08);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-review-text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #303437;
}

.card-review-user {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #979C9E;
}

/* Section 8 */

.section-8 {
    background-color: var(--color-white);
    border-radius: 64px 64px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 128px 112px 200px 56px;
}

.section-8 img {
    width: 692px;
    height: 519px;
}

.section-8 article {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 27px;
}

.section-8 article h2 {
    font-size: 64px;
    font-weight: 700;
    color: #303437;
}

.section-8 article h2 strong {
    background: var(--btn-linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.btn-download-2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.btn-download-2 a {
    background-color: #F1F5F9;
    color: #303437;
    padding: 17px 87px;
    box-shadow: 0px -4px 15px -6px rgba(255, 255, 255, 0.5), -1px 2px 6px 1px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    gap: 8px;
}

.btn-download-2 a img {
    width: 56px;
    height: 56px;
}

.btn-download-2 a p {
    display: flex;
    flex-direction: column;
}

.btn-download-2 a strong {
    font-size: 32px;
    font-weight: 600;
    color: #303437;
}